* {
  cursor: none;
}

.custom-pagination {
  position: relative;
  background: #e9d5ff;
  border-radius: 999px;
  overflow: hidden;
}

.custom-pagination .swiper-pagination-progressbar-fill {
  background: linear-gradient(90deg, #7c3aed, #c026d3);
  height: 100%;
  border-radius: 999px;
  transform-origin: left;
}

.fall-container:hover .fall-word {
  transform: translateY(140px) rotate(var(--r));
  opacity: 0.15;
}

.fall-word {
  display: inline-block;
  transform: translateY(0) rotate(0deg);
  transition:
    transform 0.8s cubic-bezier(.21,.61,.35,1),
    opacity 0.8s ease;
  will-change: transform;
}


@import "tailwindcss";