
.custom-pagination {
  position: relative;
  background: #e9d5ff;
  border-radius: 999px;
  overflow: hidden;
}

.custom-pagination .swiper-pagination-progressbar-fill {
  background: linear-gradient(90deg, #7c3aed, #c026d3);
  height: 100%;
  border-radius: 999px;
  transform-origin: left;
}

@import "tailwindcss";